/*====[ Source Editor ]=========================================================================
    Notes: 
        None
========================================================================================*/
.wikiEditor-ui .wikiEditor-ui-view {
    border: 0;
    border-radius: var(--theme-border-radius-inner);
    overflow: clip;
}

.wikiEditor-ui .wikiEditor-ui-top {
    border-bottom: 0;
}

.wikiEditor-ui-toolbar .tabs span.tab a {
    color: var(--theme-link-color);
}

:root {
    --codemirror-pagename-color: oklch(70% 0.1828 207.8);
    --codemirror-template-color: oklch(70% 0.1425 307.06);
    --codemirror-template-name-color: oklch(70% 0.1762 318.87);
    --codemirror-link-color: oklch(60% 0.163 148.85);
    --codemirror-htmltagname-color: oklch(70% 0.1674 175.26);
    --codemirror-htmltag-color: oklch(60% 0.1674 175.26);
    --codemirror-link-tosection-color: oklch(80% 0.163 148.85);
    --codemirror-parserfunction-color: oklch(70% 0.2437 20.2);
    --codemirror-list-color: oklch(70% 0.173 253.79);
}

.cm-mw-link-pagename,
.cm-mw-link-bracket,
.cm-mw-link-delimiter,
.cm-mw-extlink,
.cm-mw-free-extlink {
    color: var(--codemirror-pagename-color);
    font-weight: 500;
}

.cm-mw-template {
    color: var(--codemirror-template-color);
    font-weight: 500;
}

.cm-mw-template-name,
.cm-mw-template-argument-name,
.cm-mw-template-delimiter,
.cm-mw-template-bracket {
    color: var(--codemirror-template-name-color);
    font-weight: 500;
}

.cm-mw-link,
.cm-mw-section-header {
    color: var(--codemirror-link-color);
    font-weight: normal;
}

.cm-mw-link-tosection,
.cm-null {
    color: var(--codemirror-link-tosection-color);
    font-weight: 800;
}

.cm-mw-exttag-name,
.cm-mw-htmltag-name {
    color: var(--codemirror-htmltagname-color);
    font-weight: 800;
}

.cm-mw-exttag-bracket,
.cm-mw-exttag-attribute,
.cm-mw-htmltag-bracket,
.cm-mw-htmltag-attribute {
    color: var(--codemirror-htmltag-color);
    font-weight: 500;
}

.cm-mw-list,
.cm-mw-indenting {
    color: var(--codemirror-list-color);
    font-weight: bold;
}

.cm-mw-doubleUnderscore,
.cm-mw-signature,
.cm-mw-hr {
    color: oklch(80% 0.1114 197.09);
    font-weight: 800;
    background-color: #0000;
}

.cm-mw-parserfunction-name,
.cm-mw-parserfunction-bracket,
.cm-mw-parserfunction-delimiter {
    color: var(--codemirror-parserfunction-color);
    font-weight: bold;
}

.wikiEditor-ui .CodeMirror {
    background-color: var(--theme-accent-color-200);
    color: var(--theme-text-color);
    font-size: 1rem !important;
    padding: 0;
}

.wikiEditor-ui-toolbar {
    background-color: var(--theme-accent-color-400);
}

#msupload-div {
    background-color: var(--theme-accent-color-300);
    border-top: 0;
}

#msupload-dropzone {
    margin: 0px;
    padding: 1rem;
    border: 0;
    text-align: center;
    height: auto;
    color: var(--theme-text-color);
}

.wikiEditor-ui-toolbar .sections .section {
    border-top: 0;
    background-color: var(--theme-accent-color-400);
}

#editform>.editOptions {
    border: 0;
    border-radius: var(--theme-border-radius-inner);
    color: var(--theme-text-color);
    margin-top: 2em;
    background-color: var(--theme-accent-color-400);
}

#editform {

    .current,
    .label {
        color: var(--theme-text-color);
    }
}

.CodeMirror-gutters {
    background-color: var(--theme-accent-color-200);
    border-right: 0;
}

div.CodeMirror-gutter-elt {}

.wikiEditor-ui-toolbar .booklet>.index>.current {
    background-color: var(--theme-accent-color-400);
}

.wikiEditor-ui-toolbar .page-table th {
    color: var(--theme-text-color);
}

.wikiEditor-ui-toolbar .page-table td {
    color: var(--theme-text-color);
}

.wikiEditor-ui-toolbar .page-characters div span {
    color: var(--theme-text-color);
    border: 0;
}

::spelling-error {
    text-decoration: wavy rgb(228, 117, 141) underline;
}

.CodeMirror {
    font-family: var(--font-family-monospace);
    caret-color: white;

    .CodeMirror-linenumber {
        color: var(--theme-text-color);
    }

    pre.CodeMirror-line {
        font-size: 0.875rem;
        line-height: normal;
    }
}