/*====[ Visual Editor ]=========================================================================
    Notes: 
        None
========================================================================================*/
:root {
    --icon-undo: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.33929 4.46777H7.33929V7.02487C8.52931 6.08978 10.0299 5.53207 11.6607 5.53207C15.5267 5.53207 18.6607 8.66608 18.6607 12.5321C18.6607 16.3981 15.5267 19.5321 11.6607 19.5321C9.51025 19.5321 7.58625 18.5623 6.30219 17.0363L7.92151 15.8515C8.83741 16.8825 10.1732 17.5321 11.6607 17.5321C14.4222 17.5321 16.6607 15.2935 16.6607 12.5321C16.6607 9.77065 14.4222 7.53207 11.6607 7.53207C10.5739 7.53207 9.56805 7.87884 8.74779 8.46777L11.3393 8.46777V10.4678H5.33929V4.46777Z' fill='white'/%3e%3c/svg%3e");
    --icon-redo: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.1459 11.0499L12.9716 9.05752L15.3462 8.84977C14.4471 7.98322 13.2242 7.4503 11.8769 7.4503C9.11547 7.4503 6.87689 9.68888 6.87689 12.4503C6.87689 15.2117 9.11547 17.4503 11.8769 17.4503C13.6977 17.4503 15.2911 16.4771 16.1654 15.0224L18.1682 15.5231C17.0301 17.8487 14.6405 19.4503 11.8769 19.4503C8.0109 19.4503 4.87689 16.3163 4.87689 12.4503C4.87689 8.58431 8.0109 5.4503 11.8769 5.4503C13.8233 5.4503 15.5842 6.24474 16.853 7.52706L16.6078 4.72412L18.6002 4.5498L19.1231 10.527L13.1459 11.0499Z' fill='white'/%3e%3c/svg%3e");
    --theme-toolbar-background-color: var(--theme-accent-color-45);
}

.ve-ui-toolbar>.oo-ui-toolbar-bar {
    border: 0;
}

.ve-ui-toolbar-floating>.oo-ui-toolbar-bar {
    position: fixed;
    top: calc(var(--wikigg-header-height) + 1em);
    box-shadow: var(--theme-box-shadow);
}

.ve-activated .vector-menu-tabs .selected {
    box-shadow: none;
}

.oo-ui-toolbar-bar {
    background-color: var(--theme-toolbar-background-color);
    box-shadow: var(--theme-box-shadow);
}

.oo-ui-icon-undo,
.mw-ui-icon-undo:before {
    background-image: var(--icon-undo);
}

.oo-ui-icon-redo,
.mw-ui-icon-redo:before {
    background-image: var(--icon-redo);
}

.oo-ui-barToolGroup-tools.oo-ui-toolGroup-enabled-tools .oo-ui-tool.oo-ui-flaggedElement-primary>.oo-ui-tool-link {
    background-color: var(--theme-button-primary-color);
}

.oo-ui-barToolGroup-tools.oo-ui-toolGroup-disabled-tools .oo-ui-tool.oo-ui-flaggedElement-primary>.oo-ui-tool-link {
    background-color: var(--theme-button-primary-disabled-color);
}